@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 11px;
}

.header h1 {
    font-size: 9rem;
    font-family: 'VT323', monospace;
    color: #fff;
    font-weight: bold;

}

.header h2 {
    color: #a6dced;
    font-size: 4rem;
    font-family: 'Share Tech Mono', monospace;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-shadow: 0 0 2px rgb(168, 239, 232);
}

.container {
    position: absolute;
    background-image: url('../public/bg.jpg');
    filter: blur(3px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
    width: 100%;
}

.flex-column {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header {
    text-align: center;
    line-height: 1.5;
}

.footer {
    position: absolute;
    bottom: 50px;
    display: flex;
    gap: 30px;
    text-shadow: 0 0 2px rgb(168, 239, 232);
}

@media screen and (max-width: 500px) {
    :root {
        font-size: 9px;
    }
}